<% include ./partials/header %>
    <div class="ui main text container">
        <div class="ui huge header"><%= subject.title%></div>
        <p><%= subject.url%></p>
        <p><%= subject.body%></p>
        <p><%= subject.branch%></p>
        <p><%= subject.year%></p>
    </div>   
<% include ./partials/footer %>